$mainFont: 'Montserrat', sans-serif;

//colors
$white: #fff;
$black: #000;
$mainDark: #140202;
$orange: #F8C67D;
$red: #e02927;
$grayLight: #EAEAEC;
$gray: #BEBEBE;

$btnBackColor: linear-gradient(180deg, #F42C2B 0%, rgba(0, 0, 0, 0) 63.83%), #460D09;

//screens
$tablet: "min-width: 481px";
$desktop: "min-width: 769px";
$projector: "min-width: 1310px";
