.cards {
  @include cnt();
  max-width: none;
  background-color: #420707;
  border-radius: 1.5rem;
  padding: 2.7rem 1.6rem;
  margin-bottom: 3.5rem;
  @media (min-width: 400px) {
    margin-inline: 3.2rem;
  }

  &__content {
    border: 2px solid $white;
    border-radius: 1.5rem;
    padding: 3rem 2rem;
  }

  &__title {
    @include h5();
    max-width: 15.5rem;
    text-align: center;
    margin-inline: auto;
    margin-bottom: 4rem;
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__item {
    width: 100%;
    position: relative;
    margin: 1.7rem 1.6rem;
    &:last-child {
      mix-blend-mode: screen;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #393939;
      border-radius: 2rem;
      mix-blend-mode: screen;
      filter: blur(42px);
    }
  }

  @media ($tablet) {
    margin-inline: 1.5rem;
  }

  @media ($desktop) {
    &__title {
      max-width: 40rem;
    }
    &__body {
      flex-flow: row wrap;
    }
  }
  @media ($projector) {
    max-width: 133rem;
    padding: 3.3rem 2.1rem;
    margin-inline: auto;
  }
}
