.offer {
  padding: 3.5rem 0 4rem;

  &__title {
    @include cnt();
    @include h2();
    margin-bottom: 3.6rem;
  }

  &__body {
  }

  &__img {
    position: relative;
    &_mobile {
      @extend %img;
      display: block;
    }
    &_desktop {
      @extend %img;
      display: none;
    }
    &::after {
      content: '';
      position: absolute;
      bottom: -2.5rem;
      left: 0;
      width: 100%;
      height: 85%;
      background: linear-gradient(
        360deg,
        #ffffff 14.15%,
        rgba(36, 36, 36, 0) 61.74%
      );
    }
  }

  &__paragraphs {
    @include cnt();
    font-size: 1.4rem;
    margin-top: 2.2rem;

    &_first {
      margin-bottom: 2rem;
    }

    &_second {
    }
  }

  @media ($tablet) {
    &__paragraphs {
      max-width: 57.5rem;
      font-size: 1.8rem;
    }
  }

  @media ($desktop) {
    background: url(../img/elements/mandala.png);
    background-repeat: no-repeat;
    background-position: -14rem -1rem;
    background-size: 36%;
    &__title {
      max-width: 80.6rem;
      margin-bottom: 6rem;
    }
    &__body {
      max-width: 144rem;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
      margin-inline: auto;
    }
    &__img {
      display: flex;
      max-width: 50%;
      align-items: stretch;
      align-self: stretch;

      &_mobile {
        width: auto;
      }
      &::after {
        display: none;
      }
    }
    &__paragraphs {
      font-size: 2.4rem;
      padding-block: 1.5rem;
      margin: 0 2rem 0 0;
      &_first {
        margin-bottom: 3rem;
      }
    }
  }
  @media (min-width: 1025px) {
    &__img {
      &_mobile {
        display: none;
      }
      &_desktop {
        display: block;
      }
    }
  }
}
