.patent {
  position: relative;
  z-index: 99;
  background-color: $orange;
  &__body {
  }

  &__img {
    &::after {
      background: linear-gradient(
        0.84deg,
        $orange 18.04%,
        rgba(255, 255, 255, 0) 45%
      );
    }
  }

  &__paragraphs {
    padding-top: 1.5rem;
  }

  @media ($laptop) {
    &__body {
      flex-direction: row;
    }
    &__img {
      &::after {
        background: linear-gradient(
          270.78deg,
          $orange 9.07%,
          rgba(255, 255, 255, 0) 45%
        );
      }
    }
    &__paragraphs {
      padding-top: 4rem;
      padding-left: 0;
      padding-right: 5rem;
    }
  }
}
